@import "tailwindcss";

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: slow-spin 12s linear infinite;
}


@keyframes shake-vertical {
  0%   { transform: translateY(0); }
  20%  { transform: translateY(-4px); }
  40%  { transform: translateY(4px); }
  60%  { transform: translateY(-4px); }
  80%  { transform: translateY(4px); }
  100% { transform: translateY(0); }
}

.shake-vertical:hover {
  animation: shake-vertical 0.4s ease-in-out;
}
